// Fonts.
$font-body:      "Helvetica Neue", sans-serif;
$font-heading:   "Helvetica Neue", sans-serif;

// Colors
$lightest-gray:  #fafafa;
$lighter-gray:   #e1e1e1;
$light-gray:     #c0c0c0;
$medium-gray:    #888888;
$dark-gray:      #333333;

$trimet-blue:    #084c8d;
$trimet-red:     #d14727;
$trimet-yellow:  #fad771;
