// Normalize.css.
@import "normalize.css/normalize";

// Variables, and mixins.
@import "variables";
@import "mixins";

// Cascading style sheet.
* {
  box-sizing: border-box
}

html,
body {
  background: #555;

  min-height: 100%;
  height: 100%;

  font-family: $font-body;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

h1,
h2,
h3 {
  margin: 0;

  font-family: $font-heading;
}

img {
  display: inline-block;

  max-width: 100%;
  height: auto;
}

.site-container {
  position: relative;

  width: 1024px;
  height: 748px;

  display: flex;
  flex-direction: row;
}

.left-column,
.right-column {
  position: relative;
  height: 100%;

  padding: 0.5rem;
}

.left-column {
  width: 62%;

  background-color: #000;
  color: #fff;
}

.right-column {
  width: 38%;

  background: #eaeaea;
}


// Buttons.
button {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

.button {
  display: block;

  position: absolute;
  z-index: 4;

  width: 75px;
  height: 75px;
  border-radius: 50%;

  background-color: #aaa;
  color: #fff;

  text-align: center;

  img {
    width: 40px;
  }
}


// Random image.
.random-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.random-image-button {
  left: 5px;
  bottom: 5px;

  img {
    margin-top: 4px;
  }
}


// Refresh button.
.refresh-button {
  right: -39px;
  bottom: 5px;

  img {
    margin-top: 17px;
  }
}


// Refresh bar.

.refresh-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.refresh-bar-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: #fff;

  animation-duration: 30s;
  animation-name: progress-bar;
  animation-timing-function: linear;
}

@keyframes progress-bar {
  from { width: 0%;   }
  to   { width: 100%; }
}


// Arrivals.

.arrivals {
  .arrival {
    transition: opacity 0.5s linear;
    opacity: 0;
  }

  &.populated {
    .arrival {
      opacity: 1;
    }
  }
}

.arrivals-overlay {
  z-index: 2;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  // background-color: black;
}

.arrivals-start-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);

  background-image: linear-gradient(to bottom, lighten($trimet-blue, 15%), $trimet-blue);
  // background-image: linear-gradient(to bottom, #888, #333);
  color: #fff;

  border-radius: 50%;
  font-size: 36px;

  text-align: center;
  line-height: 300px;
}

$arrival-dimension: 165px;

.arrival {
  height: $arrival-dimension;

  margin-bottom: 1rem;

  font-size: 145px;
}

.arrival-route,
.arrival-from-now,
.arrival-time {
  display: inline-block;
}

.arrival-route {
  position: relative;

  width: $arrival-dimension;
  height: $arrival-dimension;

  margin-right: 30px;

  vertical-align: top;

  color: #fff;

  border-radius: 15%;

  white-space: nowrap;

  span {
    position: absolute;
    left: 5px;
    top: 5px;

    letter-spacing: -20px;
  }

  &.route-12 {
    background-color: $trimet-blue;
  }

  &.route-19 {
    background-color: $trimet-red;
  }
}

.arrival-from-now {
  vertical-align: -5px;

  letter-spacing: -6px;

  &.time-estimated {
    color: lightblue;
  }

  &.time-now {
    color: yellow;
    text-transform: uppercase;
  }
}

.arrival-time {
  display: none;
}


// Clock.

.clock {
  margin-top: -25px;

  font-size: 156px;
  letter-spacing: 3px;
  text-align: center;

  &.double-digit-hour {
    margin-top: -15px;
    font-size: 120px;
  }

  span {
    display: inline-block;

    color: $medium-gray;
    font-size: 48px;
    letter-spacing: 0;
  }
}


// Today's date.

h1.today-date {
  margin: 0;

  font-size: 29px;
  letter-spacing: -1px;
  text-align: center;

  color: $medium-gray;
}


// Weather.

.weather {
  @include clearfix;

  margin-top: 3rem;

  text-align: center;
}

.weather-temp-now {
  font-size: 130px;

  &:after {
    content: "º";
    font-size: 60%;
    vertical-align: top;
  }

  // Re-center the temperature, disregarding the space taken up by the degree
  // symbol.
  margin-left: 30px;
}

.weather-temp-high-and-low {
  @include clearfix;
}

.weather-temp-low-container,
.weather-temp-high-container {
  position: relative;

  float: left;
  width: 50%;

  font-size: 70px;

  &:after {
    content: "º";
    font-size: 60%;
    vertical-align: top;
  }

  img {
    width: 30px;
    margin-right: 6px;
    opacity: 0.5;

    vertical-align: 8px;
  }
}

.weather-temp-low-container {
  color: darkblue;
}

.weather-temp-high-container {
  color: darkred;
}

.weather-icon-container {
  margin-top: 2rem;
}

.weather-icon {
  //
}

.weather-summary-now {
  font-size: 32px;
}

.weather-summary-day {
  margin-top: 2.5rem;
  padding: 0 2rem;

  font-size: 24px;
}
